{{partial 'navbar'}}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">VirtualDoctor</h1>
          <p>Virtual Doctor is instant messaging web application intended for little but urgent requirements of patients who need not wait in a queue or travel places to consult a doctor.The chat enables the patient to connect with the doctor and provide their problems and get the solution from the doctor.</p>
        </div>
      </div>
{{outlet}}
