<h1>Welcome to Virtual Doctor</h1>

<div class="well">
  <ul class="nav nav-tabs">
    {{#link-to 'index.signin' tagName="li"}}<a href="">SignIn</a>{{/link-to}}
    {{#link-to 'index.signup' tagName="li"}}<a href="">Create Account</a>{{/link-to}}
  </ul>
</div>
{{outlet}}
